@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply text-white;
}


.animate-gradientMove {
  background-size: 200% 200%;
  animation: gradientMove 10s ease infinite;
}
