@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-[url('/AifNN_darkbluebackground1.png')] bg-cover bg-center bg-fixed bg-no-repeat text-white;
}
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradientMove {
  background-size: 200% 200%;
  animation: gradientMove 10s ease infinite;
}
